---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="container mx-auto">
			<div class="grid grid-cols-3 gap-8">
				<img class="rounded-full" src="https://avatars.githubusercontent.com/u/6107839?s=400&u=c52ec169b09db11ee1829a1652bf12a6ff6d598b&v=4" />
				<main class="prose col-span-2">
						<h2>Alexander Stromberger</h2>
						<p>
							Welcome to my personal site! I'm Alexander Stromberger, a Mathematics and Computer Science student with a passion for skiing and mathematical optimization. 
							I have been an Academic Tutor for Computer Mathematics at the <a href="https://www.tuwien.ac.at">TU Wien</a> and I currently work as a Software Engineer at <a href="https://www.alturos.com">Alturos Destinations</a> (the creators of <a href="https://www.skiline.cc">skiline.cc</a>).
						</p>
						<h3>Work and interests</h3>
						<ul>
							<li>Operations Research & Applied Optimization</li>
							<li>Scientific Computing</li>
							<li>Software Engineering (Backend)</li>
						</ul>
						<h3>How to contact me</h3>
						<p>E-mail: alexander @ this domain </p>
					</main>
				</div>
			<Footer />
		</div>
	</body>
</html>
