---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Graph from '../components/Graph.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="container mx-auto">
				<main class="prose">
						<h2>Hey there! 👋</h2>
						<p>
						My name is Alexander Stromberger and I am studying Computer Science at the <a href="https://www.tuwien.ac.at">Technical University of Vienna</a>. My research interests are mathematical optimization, computational mathematics and computer vision.
						I currently work as a software engineer in the innovation department of <a href="https://www.alturos.com">Alturos Destinations</a>.
						<br><br>
						If you want to get in touch contact me via .- .--.-. ... - .-.-.- ..-. -.-- ..
						<br><br><br>
						</p>
				</main>
				<Graph />
				
			<Footer />
		</div>
	</body>
</html>
