---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="container mx-auto mt-8 mb-8">
				<HeaderLink href="/">About</HeaderLink>
				<!-- <HeaderLink href="/blog">Blog</HeaderLink>-->
				<HeaderLink href="https://github.com/stromberger" target="_blank">GitHub</HeaderLink>
				<HeaderLink href="https://www.linkedin.com/in/alexanderstromberger" target="_blank">LinkedIn</HeaderLink>
	</div>
	<!-- <div class="w-full h-px bg-slate-900 mb-10"></div> -->
</header>