---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="container mx-auto">
		<div class="grid grid-cols-6 gap-8">
			<div></div>
	<!-- <h2 class="inline-block text-xl pt-4 pb-4 font-mono">
		
	</h2> -->
		<div class="col-span-5">
			<nav class="mb-8 mt-20">
				<HeaderLink href="/">About</HeaderLink>
				<!-- <HeaderLink href="/blog">Blog</HeaderLink>-->
				<HeaderLink href="https://github.com/stromberger" target="_blank">GitHub</HeaderLink>
				<HeaderLink href="https://www.linkedin.com/in/alexanderstromberger" target="_blank">LinkedIn</HeaderLink>
			</nav>
		</div>
		</div>
	</div>
	<!-- <div class="w-full h-px bg-slate-900 mb-10"></div> -->
</header>